.create-comment-container{
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    height: 44px;
    margin-top: 25px;
}

.create-comment-input{
    background: #FAFAFA;
    border: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    margin: 10px;
    letter-spacing: 0.025em;
    width: 89%;
}

/* .create-comment-input {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
  
  .create-comment-input[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: black;
  } */

*:focus{
    outline: none;
}

.create-comment-input::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    margin: 5px;
    letter-spacing: 0.025em;
    color: #E6E6E6;
}
.create-comment-button{
    position:absolute;
    background: #5197E9;
    border: none;
    border-radius: 3px;
    height: 31px;
    right: 5px;
    top: 5px;
}

.create-comment-button-arrow{
    margin: 2px;
}